<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:zy="http://zuoyy.com">
<head th:replace="/common/head :: header(~{::title},~{::link},~{::style})">
</head>
<body>

<div id="content" class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <fieldset>
                    <legend>
                        <form class="form-inline" role="form" id="searchForm" name="searchForm" onkeydown="if(event.keyCode==13){return false;}">
                            <div class="form-group">
                                <input type="text" name="keyword" class="form-control table-form-tip" data-toggle="tooltip" data-placement="top" title="Key words" placeholder="Key words">
                            </div>
                            <div class="form-group">
                                <select class="form-control table-form-tip" name="type" zy:dict="LOG_TYPE" zy-empty="全部" data-toggle="tooltip" data-placement="top" title="日志类型"></select>
                            </div>
                            <button id="btn-search" class="btn btn-default" type="button">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </form>
                    </legend>
                    <button type="button" th:each="b : ${button.pageButtons}" th:id="${b.btnId}"
                            th:class="${b.btnClass}" th:text="${b.title}" style="margin-left: 4px;"></button>
                </fieldset>
                <table id="datatable" class="table table-striped table-bordered zy-table-ellipsis"></table>
            </div>
        </div>
    </div>
</div>


<div th:replace="common/htmlJS::common_js(~{::script})">
<script th:inline="javascript">
    var $table, _table;
    $(function () {
        $table = $('#datatable');
        _table = $table.dataTable(
            $.extend(true, {}, CONSTANT.DATA_TABLES.DEFAULT_OPTION, {
                ajax: function (data, callback, settings) {
                    var params = manage.getQueryCondition(data);
                    zy.ajax({
                        url: basePath + '/system/actionLog/getListPage',
                        data: params,
                        success: function (result) {
                            if (result.code == 200) {
                                callback(result.data);
                            } else {
                                layer.msg(result.msg, {icon: 2,shift: 6});
                            }
                        }
                    });
                },
                columns: [CONSTANT.DATA_TABLES.COLUMN.CHECKBOX,
                    {
                        title: "日志名称",
                        data: "name",
                        width: "100"
                    }, {
                        title: "操作人",
                        data: "operBy",
                        width: "80",
                        orderable: false,
                        render: function (data, type, row, meta) {
                            if(data){
                                return data.nickname;
                            }
                            return '';
                        }
                    }, {
                        title: "日志类型",
                        data: "logType",
                        width: "80",
                        orderable: false
                    }, {
                        title: "IP地址",
                        data: "ipaddr",
                        width: "150"
                    }, {
                        title: "日志消息",
                        data: "message",
                        width: "150",
                        className : "ellipsis",
                        render: CONSTANT.DATA_TABLES.RENDER.ELLIPSIS
                    }, {
                        title: "记录时间",
                        data: "createDate",
                        width: "130",
                        render: CONSTANT.DATA_TABLES.RENDER.DATE_TIME
                    }, {
                        title: "操作",
                        width: "150",
                        orderable: false,
                        render: function (data, type, row, meta) {
                            var tableButtons = [[${button.tableButtons}]];
                            return manage.tableToolBar(tableButtons,row);
                        }
                    }]
            })).api();
        $table.parent().attr('style', 'overflow-x: auto');
        // 行点击事件
        $("tbody", $table).on("click", "tr", function (event) {
            $(this).addClass("active").siblings().removeClass("active");
            var item = _table.row(this).data();
            manage.currentItem = item;
        });
        //复选框
        $table.on("change", ":checkbox", function () {
            if ($(this).is("[name='cb-check-all']")) {
                $(":checkbox", $table).prop("checked", $(this).prop("checked"));
            } else {
                var checkbox = $("tbody :checkbox", $table);
                $(":checkbox[name='cb-check-all']", $table).prop('checked', checkbox.length == checkbox.filter(':checked').length);
            }
        }).on("click", ".td-checkbox", function (event) {
            !$(event.target).is(":checkbox") && $(":checkbox", this).trigger("click");
        });
        //初始化表格搜索框提示
        manage.init();
        //条件搜索
        $("#btn-search").click(function () {
            _table.draw();
        });
        //清空日志
        $("#btn-empty").click(function () {
            del({ids:''})
        });
    });

    function detail(row) {
        zy.openPage('日志详情',"/system/actionLog/detail/"+row.id);
    }

    function del(row) {
        if(_table.row(0).data()!=undefined){
            layer.confirm('确定要删除吗', {
                icon : 3
            }, function() {
                zy.ajax({
                    url : basePath+'/system/actionLog/status/delete',
                    data : {ids:row.id},
                    success : function(result) {
                        if (result.code==200) {
                            _table.draw(false);
                            layer.msg('删除成功');
                        }else{
                            layer.msg(result.msg, {icon: 2,shift: 6});
                        }
                    }
                });


            });
        }

    }

</script>
</div>
</body>
</html>