<!DOCTYPE html>
<html class="zy-page" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/head :: header(~{::title},~{::link},~{::style})">
    <title></title>

</head>
<body class="zy-page">
<div class="zy-page-form">
    <div class="row">
        <div class="col-sm-12">
            <form class="layui-form" action="" lay-filter="example">
                <input type="hidden" name="id" th:value="${user?.id}">
                <div class="layui-form-item">
                    <label class="layui-form-label">登录名 <span class="text-danger">*</span></label>
                    <div class="layui-input-block">
                        <input type="text" name="username" lay-verify="required" autocomplete="off" placeholder="请输入登录名" class="layui-input" th:value="${user?.username}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户昵称 <span class="text-danger">*</span></label>
                    <div class="layui-input-block">
                        <input type="text" name="nickname" lay-verify="required" placeholder="请输入用户昵称" autocomplete="off" class="layui-input" th:value="${user?.nickname}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号 <span class="text-danger">*</span></label>
                    <div class="layui-input-block">
                        <input type="text" name="phone" lay-verify="required|phone" placeholder="请输入手机号" autocomplete="off" class="layui-input" th:value="${user?.phone}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱 <span class="text-danger">*</span></label>
                    <div class="layui-input-block">
                        <input type="text" name="email" lay-verify="required|email" placeholder="请输入邮箱" autocomplete="off" class="layui-input" th:value="${user?.email}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别 <span class="text-danger">*</span></label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="1" title="男" th:checked="${user?.sex eq '1' || #lists.isEmpty(user)}">
                        <input type="radio" name="sex" value="2" title="女" th:checked="${user?.sex eq '2'}">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">角色 <span class="text-danger">*</span></label>
                    <div class="layui-input-block">
                        <input type="checkbox" th:each="r : ${roleList}" name="roleList" th:value="${r.id}" th:title="${r.title}" th:checked="${!#lists.isEmpty(user?.roles)}?${#lists.contains(user?.roles, r)}" lay-filter="role">
                    </div>
                </div>



                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${user?.remark}]]</textarea>
                    </div>
                </div>


                <div class="form-actions zy-form-bottom-btn">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <button class="btn btn-default close-page">Cancel</button>
                            <button class="btn btn-primary" lay-submit="">
                                <i class="fa fa-save"></i>Submit
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>


<div th:replace="common/htmlJS::common_js(~{::script})">
    <script th:inline="javascript">
        layui.use(['form'], function(){
            var form = layui.form
                ,layer = layui.layer;

            //自定义验证规则
            form.verify({
            });

            //监听提交
            form.on('submit', function(data){
                if(!CommnUtil.notNull(data.field.roleList)){
                    layer.msg('请选择角色', {icon: 2,shift: 6});
                    return false;
                }
                //给角色赋值
                delete data.field["roleList"];
                var selectRole = [];
                $('input[name="roleList"]:checked').each(function(){
                    selectRole.push({"id":$(this).val()});
                });
                data.field.roles = selectRole;
                zy.ajaxJson({
                    url:basePath+"/system/user/save",
                    data:JSON.stringify(data.field),
                    success:function(result){
                        if (result.code == 200) {
                            parent.layer.msg('操作成功');
                            parent._table.draw(false);
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        } else {
                            layer.msg(result.msg, {icon: 2,shift: 6});
                        }
                    }
                });
                return false;
            });

        });
    </script>
</div>
</body>
</html>