<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        ChinaNextGen - Welcome
    </title>
</head>
<body>
<div align="center">
    <table border="0" cellspacing="0" cellpadding="0" width="0" style="width:6.25in;border-collapse:collapse">
        <tbody>
        <tr>
            <td style="padding:0in 0in 0in 0in">
                <table border="0" cellspacing="0" cellpadding="0" width="100%"
                       style="width:100.0%;border-collapse:collapse">
                    <tbody>
                    <tr>
                        <td style="background:#22263f;padding:0in 0in 0in 0in">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%"
                                   style="width:100.0%;border-collapse:collapse">
                                <tbody>
                                <tr>
                                    <td style="padding:0in 0in 0in 0in">
                                        <p class="MsoNormal"><span style=" font-size:1.0pt ; ; ; ; ;  "><img width="700"
                                                                                                             height="235"
                                                                                                             style="width:7.2916in;height:2.45in"
                                                                                                             id="m_-1615716198194009136_x0000_i1025"
                                                                                                             src="http://assets.storyports.com/pushproject/u/2186/images/3015934622.jpg"></span><span
                                                style=" font-size:1.0pt ; ; ;  "><u></u><u></u></span></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="background:white;padding:0in 0in 0in 0in">
                <table border="0" cellspacing="0" cellpadding="0" width="100%"
                       style="width:100.0%;border-collapse:collapse">
                    <tbody>
                    <tr>
                        <td style="background:white;padding:0in 22.5pt 15.0pt 26.25pt">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%"
                                   style="width:100.0%;border-collapse:collapse">
                                <tbody>
                                <tr>
                                    <td width="50%" valign="top"
                                        style="width:50.0%;padding:11.25pt 7.5pt 11.25pt 11.25pt">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0in 0in 0in 0in">
                                        <p class="MsoNormal" style="line-height:14.25pt"><span
                                                style=" font-size:13.5pt ; ; ;  ">YOU'RE INVITED</span><span
                                                style=" font-size:10.5pt ; ; ;  "><br>
    <br>
    </span><span style=" font-size:10.5pt ; ; ;  ">Summer 2020 looks a little different: summer internships are postponed, travel is delayed, and activities may be cancelled. Goldman Sachs is here for you during this time and
     values the opportunity to keep the next generation of decision makers, innovators and wealth creators actively learning with access to relevant insights, dynamic speakers and the hottest topics of the summer.<br>
    <br>
    We are pleased to invite you to a virtual convening for the first global Next Gen Summer Series. This series will include sessions on a variety of topics including financial literacy, career development, entrepreneurship, philanthropy, impact, and other interest
     areas. We encourage you to register via the link below.</span><span style=" font-size:10.5pt ; ; ;  "><br>
    <br>
    <strong><span style="  ;  ">Highlights of the program include:</span></strong><u></u><u></u></span></p>
                                        <ul type="disc">
                                            <li class="MsoNormal" style="color:#22263f;line-height:14.25pt">
                                                <span style=" font-size:10.5pt ; ; ;  ">Three-part Investing series led by Goldman Sachs investment professionals</span><span
                                                    style=" font-size:10.5pt ; ;  "><u></u><u></u></span></li>
                                            <li class="MsoNormal" style="color:#22263f;line-height:14.25pt">
                                                <span style=" font-size:10.5pt ; ; ;  ">Global Keynote Session with Co-founder and Chairman of Africa Rising, Ndaba Mandela</span><span
                                                    style=" font-size:10.5pt ; ;  "><u></u><u></u></span></li>
                                            <li class="MsoNormal" style="color:#50515e;line-height:14.25pt">
                                                <span style=" font-size:10.5pt ; ;  ">Interactive sessions to develop career, entrepreneurship, and communication skills<u></u><u></u></span>
                                            </li>
                                            <li class="MsoNormal" style="color:#22263f;line-height:14.25pt">
                                                <span style=" font-size:10.5pt ; ; ;  ">The opportunity to participate in a collaborative philanthropic project&nbsp;</span><span
                                                    style=" font-size:10.5pt ; ;  "><u></u><u></u></span></li>
                                        </ul>
                                        <p class="MsoNormal" style="line-height:14.25pt"><span
                                                style=" font-size:10.5pt ; ; ;  ">Please reference the registration site for the full agenda.</span><span
                                                style=" font-size:10.5pt ; ; ;  "><br>
    <br>
    <strong><span style="  ;  ">Program Dates:</span></strong><br>
    <strong><span style="  ;  ">Monday, July 27 to Friday, July 31</span></strong><br>
    </span><span style=" font-size:10.5pt ; ; ;  ">Each day will have 4+ hours of content that will be available both live and on-demand.</span><span
                                                style=" font-size:10.5pt ; ; ;  "><br>
    <br>
    </span><em><span style=" font-size:9.0pt ; ; ;  ">This program is designed for the next generation. We recommend participation from individuals ages 16 to 21.&nbsp;</span></em><span
                                                style=" font-size:10.5pt ; ; ;  "><u></u><u></u></span></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <div>
                        <div>
                            <p class="MsoNormal"><u></u>&nbsp;<u></u></p>
                            <table border="0" cellspacing="0" cellpadding="0" width="100%"
                                   style="width:100.0%;border-collapse:collapse">
                                <tbody>
                                <tr>
                                    <td style="padding:7.5pt 0in 7.5pt 26.25pt">
                                        <table border="0" cellspacing="0" cellpadding="0" align="left"
                                               style="background:#22263f;border-collapse:collapse;margin-left:.45pt;margin-right:.45pt">
                                            <tbody>
                                            <tr>
                                                <td style="padding:6.75pt 18.75pt 6.75pt 18.75pt">
                                                    <p class="MsoNormal" align="center" style="text-align:center"><a
                                                            name="m_-1615716198194009136_"></a><a
                                                            href="https://www.goldmansachs.com/gsevents/nxtgen2020"
                                                            target="_blank"><span><b><span
                                                            style=" font-size:10.5pt ; ; ; ;  ">Register
     Now!</span></b></span></a><span style=" font-size:10.5pt ; ; ;  "><u></u><u></u></span></p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <table border="0" cellspacing="0" cellpadding="0" width="100%"
                       style="width:100.0%;border-collapse:collapse">
                    <tbody>
                    <tr style="height:15.0pt">
                        <td style="padding:0in 0in 0in 0in;height:15.0pt">
                            <p class="MsoNormal" align="center" style="text-align:center;line-height:15.0pt">
                                <span style="font-size:15.0pt">&nbsp;<u></u><u></u></span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p class="MsoNormal"><u></u><u></u></p>
            </td>
        </tr>
        <tr>
            <td style="padding:0in 0in 37.5pt 0in">
                <table border="0" cellspacing="0" cellpadding="0" width="100%"
                       style="width:100.0%;border-collapse:collapse">
                    <tbody>
                    <tr>
                        <td style="padding:0in 0in 0in 0in">
                            <p class="MsoNormal"><span style=" font-size:1.0pt ; ; ; ; ;  "><img border="0" width="700"
                                                                                                 height="60"
                                                                                                 style="width:7.2916in;height:.625in"
                                                                                                 id="m_-1615716198194009136_x0000_i1026"
                                                                                                 src="http://assets.storyports.com/pushproject/u/2186/images/22615934623.jpg"></span><span
                                    style=" font-size:1.0pt ; ; ;  "><u></u><u></u></span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <div>
                        <p class="MsoNormal"><u></u>&nbsp;<u></u></p>
                        <table border="0" cellspacing="0" cellpadding="0" width="100%"
                               style="width:100.0%;border-collapse:collapse">
                            <tbody>
                            <tr>
                                <td style="background:#f2f2f2;padding:15.0pt 15.0pt 15.0pt 15.0pt">
                                    <div>
                                        <div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <div>
                                                            <table border="0" cellspacing="0" cellpadding="0"
                                                                   width="100%"
                                                                   style="width:100.0%;border-collapse:collapse">
                                                                <tbody>
                                                                <tr style="height:15.0pt">
                                                                    <td style="padding:0in 0in 0in 0in;height:15.0pt">
                                                                        <p class="MsoNormal" align="center"
                                                                           style="text-align:center;line-height:15.0pt">
                                                                            <span style="font-size:15.0pt">&nbsp;</span><span
                                                                                style=" font-size:15.0pt ; ;  "><u></u><u></u></span>
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <table border="0" cellspacing="0" cellpadding="0" width="100%"
                                                       style="width:100.0%;border-collapse:collapse">
                                                    <tbody>
                                                    <tr>
                                                        <td style="padding:0in 0in 0in 0in">
                                                            <p class="MsoNormal" align="center"
                                                               style="text-align:center;line-height:9.0pt"><span
                                                                    style=" font-size:7.5pt ; ; ;  ">Please reach out to your Goldman Sachs contact with any questions.</span><span
                                                                    style=" font-size:10.5pt ; ; ;  "><br>
    <br>
    </span><span style=" font-size:7.5pt ; ; ;  ">Information and opinions expressed by individuals other than Goldman Sachs employees do not necessarily reflect the view of Goldman Sachs. Information and opinions are as of the
     date of the event and are subject to change without notice.</span><span style=" font-size:10.5pt ; ; ;  "><br>
    <br>
    <a href="https://www.goldmansachs.com" target="_blank"><b><span
            style="text-decoration:none">GS.com</span></b></a><br>
    <br>
    </span><span style=" font-size:7.5pt ; ; ;  ">© 2020 Goldman Sachs. All rights reserved.</span><span
                                                                    style=" font-size:10.5pt ; ; ;  "><u></u><u></u></span>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p class="MsoNormal"><u></u><u></u></p>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>